<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="DBHost" value="192.168.2.212"/>
        <add key="DBPort" value="5432"/>
        <add key="DBUsername" value="postgres" />
        <add key="DBPassword" value="sml"/>
        <add key="DBDatabaesName" value="dailyloan"/>
    </appSettings>
</configuration>